*.pyc
*~
log
mail
sites
.anacron
.ansible
.bazaar/lock
.bitlbee
.bundle
.cargo
.docker
.fetchmailrc
.fortunes/*.dat
.gem
.ICEauthority
.irb-history
.irssi
.lesshst
.mairixdb
.moosic/player_log
.moosic/saved_state
.moosic/server_log
.msmtprc
.pip
.procmail/blacklist
.procmail/list
.procmail/whitelist
.python-eggs
.python_history
.ratpoison_history
.rbenv
.remind/monthly.rem
.remind/weekly.rem
.remind/yearly.rem
.rustup
.s3cfg
.screen
.slrnpull
.tox
.travis
.vault
.viminfo
.vim/.netrwhist
.Xauthority
.xsession-errors
.xsession-errors.old
.zhistory
.zsh/aws.zsh
