*.pyc
*~
log
mail
.anacron
.ansible
.bazaar/lock
.bitlbee
.bundle
.cargo
.docker
.fetchmailrc
.gem
.ICEauthority
.irb-history
.irssi
.mairixdb
.msmtprc
.pip
.procmail/blacklist
.procmail/list
.procmail/whitelist
.python-eggs
.python_history
.ratpoison_history
.rbenv
.s3cfg
.screen
.slrnpull
.tox
.travis
.vault
.viminfo
.vim/.netrwhist
.Xauthority
.xsession-errors
.xsession-errors.old
.zhistory
.zsh/aws.zsh
