snippet bang
	{-# LANGUAGE BangPatterns #-}

snippet hlint
	{-# ANN module "HLint: ignore ${1}" #-}

snippet htf
	{-# OPTIONS_GHC -F -pgmF htfpp #-}

snippet language
	{-# LANGUAGE ${1} #-}

snippet main
	main :: IO ()
	main = ${1:return ()}

snippet setup
	import Distribution.Simple
	main = defaultMain

snippet unicode
	{-# LANGUAGE UnicodeSyntax #-}
