snippet #!
	#!/usr/bin/env python

snippet attr.s
	@attr.s(frozen=True, slots=True)
	class ${1:class_name}:
	    """${0:Description}"""

snippet imp
	import ${1:module}

snippet main
	if __name__ == '__main__':
	    ${1:main()}

snippet pdb
	import pdb; pdb.set_trace()
